<h1>Districts</h1>
<p>Search your city or district and use the ID for the Scriptable widget.</p>
<ul>
{% for district in districts %}
<li>{{ district.GEN }} ({{ district.BEZ }}): {{ district.OBJECTID }}</li>
{% endfor %}
</ul>
